body{
    background: rgb(245,245,245);
    color: green;
    font-size: 25px;
    font-family: 'Libre Bakersville';
}

h1{
    font-family: Courier;
    color: red;
    font-weight: lighter;
    font-size: 10px;
}

h2 {
    font-family: Courier;
    color: pink;
    font-weight: lighter;
    font-size: 8px;
}
   
a {
    color: yellow;
}

a:hover {
    text-decoration: none;
    color: purple;
}

#banner{
    text-align: center;
    background-image: url("https://unsplash.it/1300/600?random");
    background-size: cover;
    padding: 150px;
    color: white;
    text-shadow: 1px 1px 5px black;
}
   
#banner h1 {
    color: white;
    font-size: 50px;
}

#banner p {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
}
   
#footer{
    padding: 30px;
    background: rgb(30, 30, 30);
    color: lightgrey;
}
   
.tarjeta{
    padding: 50px;
    font-weight: lighter;
}

#footer a {
    color: lightgrey;
    font-size: 25px;
}
   
#footer a:hover {
    color: white;
}